.schedule-home-container {
  min-height: calc(var(--vh, 1vh) * 100);
  width: 400px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard GOV", sans-serif;

  .schedule-home-box {
    background-color: #ffffff;
    padding: 40px 24px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
    position: relative;
    text-align: center;

    .header {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 24px;

      .back-button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }
      }

      .title {
        font-size: 25px;
        font-weight: 600;
        color: #212121;
      }
    }

    .schedule-buttons {
      display: flex;
      flex-direction: column;
      gap: 16px;

      button {
        height: 48px;
        font-size: 16px;
        border-radius: 8px;
      }
    }
  }
}
